**/.tmp/*
**/dist/*
**/bin/*
*.blend[1-9]
*.pak
.vscode/*
hide-plugin.js
hide-plugin.js.map
log.txt
out/*
hxd.fmt.pak.Build.hl
dump/decoding_error.txt
**/res/spr/*
**/res/mdl/*
imgui.ini
*.log
res/maps/autosave
res/bsp/
NodeEditor.json
tools/*
res/game.fgd