**/.tmp/*
**/dist/*
*.blend[1-9]
*.pak
hide-plugin.js
hide-plugin.js.map
log.txt
out/*
hxd.fmt.pak.Build.hl
dump/decoding_error.txt
**/res/mdl/*
imgui.ini
*.log
res/maps/autosave
res/bsp/
NodeEditor.json
*.prof
.cache
wwise
source assets/audio
save/*.sav
cerastesToolState.sav
dump/*
settings.def
.haxelib/*
tools/haxe/*
tools/neko/*
tools/hl/*
tools/haxe_installed.json
.vscode/*
bin/*
tools/*
game.fgd